 <section id="contact">
  <div class="contact-box row">
    <div class="contact-links col-md-4">
      <h2>CONTACT</h2> 
   <div class="links">
        <div class="link">
          <a><img src="https://i.postimg.cc/aryanjamatia/linkedin.png" alt="linkedin"></a>
        </div>
        <div class="link">
          <a><img src="https://i.postimg.cc/aryanjamatia/github.png" alt="github"></a>
        </div>
        
        <div class="link">
          <a><img src="https://i.postimg.cc/aryanjamatia/email.png" alt="email"></a>
        </div>
      </div>
 </div>
    <div class="contact-form-wrapper col-md-8">
      <form>
        <div class="form-item">
          <input type="text" name="sender" required>
          <label>Name:</label>
        </div>
        <div class="form-item">
          <input type="text" name="email" required>
          <label>Email:</label>
        </div>
        <div class="form-item">
          <textarea class="" name="message" required></textarea>
          <label>Message:</label>
        </div>
   <button class="submit-btn" (click)="openEmail()">Send Email</button>  
      </form>
    </div>
  </div>
</section> 




