/* src/components/Sidebar.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #282c34;
  color: white;
  padding: 20px;
  position: fixed;
}



.logo {
  font-size: 24px;
  margin-bottom: 10px; /* Adjust margin for better spacing */
  text-align: center;
}

/* Contact details styles */
.contact-details {
  display: flex; /* Align items in a row */
  justify-content: space-around; /* Space evenly */
  margin-bottom: 20px; /* Space below contact details */
}

.contact-link:hover{
  color: cadetblue;
  transition: .5s;
}

.contact-link {
  color: white;
  text-decoration: none;
  font-size: 25px;
  padding: 5px 10px;
}

.contact-link:hover {
  text-decoration: underline; /* Underline on hover */
}

.logo {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.sidebar-menu {
  list-style-type: none;
  padding: 0;
}

.sidebar-menu li {
  padding: 15px 10px;
  cursor: pointer;
}

.sidebar-menu li a {
  color: white;
  text-decoration: none;
}

.sidebar-menu li:hover {
  background-color: #3a3f47;
}


.container {
  margin-left: 250px; 
  padding: 20px; 
  background-color: darkslategray;
  height: 100vh; 
  width: calc(100% - 250px); 
}

/* Styles for Profile component */
.profile-container {
  padding: 20px;
  color: white;
}
.profile-container h2{
  padding-left: 10px;
  font-size: 30px;
}



.sticky-title {
  position: sticky;
  top: 0; /* Stick to the top */
  background-color: darkslategray; /* Match the container background */
  padding: 10px 0;
  z-index: 1000; /* Ensure it stays above other content */
}

.scrollable-content {
  max-height: calc(100vh - 60px); /* Adjust based on your sticky title height */
  overflow-y: auto; /* Allow vertical scrolling */
  padding: 10px;
}
